.timetable-container {
    display: flex;
}

.day {
    display: flex;
    flex-direction: column;
}

.cell {
    display: flex;
    --cellHeight: 55px;
    min-height: var(--cellHeight);
    --cellWidth: 250px;
    width: var(--cellWidth);
    text-align: center;
    font-family: 'Helvetica';
    --borderWidth: 1px;
    border-top-width: var(--borderWidth);
    border-top-style: outset;
    border-right-width: 0px;
    border-right-style: outset;
}

.day-name {
    --dayNameHeight: 20px;
    display: flex;
    min-height: var(--dayNameHeight);
    width: var(--cellWidth);
    text-align: center;
    justify-content: center;
}


.empty-in-corner {
    /* Match with of .hour and height of .day-name */
    min-height: 20px;
    width: 50px;
    border-top-width: 0px;
}

.half {
    width: '50%';
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --courseMargin: 1px;
    margin: var(--courseMargin);
}

.type {
    margin-right: 4px;
    display: none;
}

.hour {
    width: 50px;
    justify-content: center;
    align-items: center;
}

.other {
    font-size: 10px;
}

.lecture {
    background-color: #ffc063;
}

.project {
    background-color: #ff776d;
}

.laboratory {
    background-color: #66a0ff;
}

.exercise {
    background-color: #5cd950;
}

.seminar {
    background-color: #32a88b;
}

.teacher {
    font-style: italic;
    font-size: 10px;
}

.name {
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    text-transform: uppercase;
}

.name-type-container {
    text-overflow: ellipsis;
    overflow: hidden;
}

.room {
    font-size: 10px;
}

.double {
    --doubleHeight: calc(var(--cellHeight)*2);
    min-height: calc(var(--doubleHeight) - var(--borderWidth));
}
.triple {
    --tripleHeight: calc(var(--cellHeight)*3);
    --doubleBorderWidth: calc(var(--borderWidth)*2);
    min-height: calc(var(--tripleHeight));
}
.quadruple {
    --quadrupleHeight: calc(var(--cellHeight)*4);
    --doubleBorderWidth: calc(var(--borderWidth)*3);
    min-height: calc(var(--quadrupleHeight));
}
.quintuple {
    --quintupleHeight: calc(var(--cellHeight)*5);
    --doubleBorderWidth: calc(var(--borderWidth)*4);
    min-height: calc(var(--quintupleHeight));
}
.deleted {
    display: none;
}

