.timetable-container {
    display: flex;
}

.day {
    display: flex;
    flex-direction: column;
}

.day-name {
    --dayNameHeight: 20px;
    display: flex;
    min-height: var(--dayNameHeight);
    width: 300px;
    text-align: center;
    justify-content: center;
}

.cell {
    display: flex;
    --cellHeight: 70px;
    min-height: var(--cellHeight);
    width: 320px;
    text-align: center;
    font-family: 'Helvetica';
    --borderWidth: 1px;
    border-top-width: var(--borderWidth);
    border-top-style: outset;
    border-right-width: 1px;
    border-right-style: outset;
}

.empty-in-corner {
    /* Match with of .hour and height of .day-name */
    min-height: 20px;
    width: 50px;
    border-top-width: 0px;
}

.half {
    width: '50%';
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --courseMargin: 1px;
    margin: var(--courseMargin);
}

span.type {
    margin-right: 4px;
}

.hour {
    width: 50px;
    justify-content: center;
    align-items: center;
}

.lecture {
    background-color: #ffc063;
}

.project {
    background-color: #ff776d;
}

.laboratory {
    background-color: #66a0ff;
}

.exercise {
    background-color: #5cd950;
}

.seminar {
    background-color: #32a88b;
}

.teacher {
    font-style: italic;
    font-size: 10px;
}

.name {
    font-weight: bold;
    font-size: 16px;
}

.room {
    font-size: 12px;
}

.double {
    --doubleHeight: calc(var(--cellHeight)*2);
    min-height: calc(var(--doubleHeight) - var(--borderWidth));
}
.triple {
    --tripleHeight: calc(var(--cellHeight)*3);
    --doubleBorderWidth: calc(var(--borderWidth)*2);
    min-height: calc(var(--tripleHeight));
}
.deleted {
    display: none;
}

